* {
    box-sizing: border-box;
}

.html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    width: 1530px;
    height: 90px;
    background-color: rgb(250, 56, 56);
}

.navbar-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 30px 10px 30px 0;
    margin-right: 80px;
    color: #ffffff;
}

.navbar-list-item {
    font-size: 20px;
}

.navbar-list-item-link {
    text-decoration: none;
    justify-content: space-between;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100px;
}

.navbar-list-item-link:hover {
    color: chartreuse;
}

.container {
    display: flex;
    margin: 0;
}

.container-main {
    margin: 10px 0 0 200px;
}

.images1 {
    width: 1000px;
    height: 400px;
}

.container-images {
    margin: 20px 0 0 0;
}

.comment {
    margin: 10px 0 0 0;
    font-weight: 700;
}

.email-comment {
    margin: 0;
}

.input-comment {
    width: 200px;
    height: 125px;
    margin: 0;
}

.main-email {
    margin: 0;
}

.email {
    margin: 0;
}

.input-email {
    width: 200px;
    margin: 0;
}

.rating {
    margin: 10px 0 0 0;
}

.input-rating {
    width: 80px;
    height: 25px;
    margin: 5px 0 0 0;
}

.main-rating {
    display: flex;
}

.main-end {
    width: 80px;
    height: 30px;
    background-color: #575555;
}

.end {
    padding: 5px 30px 30px 30px;
    font-weight: 700;
}

.footer {
    background-color: #7c7a7a;
    height: 50px;
}

.footer-end {
    padding: 18px 10px 20px 30px;
}